<nav class="navbar navbar-inverse" role="navigation">
   <div class="navbar-header top-logo">
     <a href="#"><img src="/images/logo.png" alt=""></a>
   </div>
   <p class="navbar-text navbar-right">
       <strong><span class="white-text">Time remaining 00:00:00</span></strong>
   </p>
   <ul class="nav navbar-nav navbar-right">
       <li><a ui-sref="public.login"><i class="fa fa-power-off"></i> Login</a></li>
   </ul>
   
 </nav>
 
<div ui-view></div>
<footer>
    <div align="center">MooseJS 2014</div>
</footer>