<div class="row">
	<div class="col-md-6">
		<h2>Send Clarification</h2>
		<form ng-submit="submitClarification()">
			<div class="form-group">
				<label>Subject</label>
				<ui-select ng-model="clarification.subject">
					<ui-select-match placeholder="Select one subject for the clarification..">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="subject in subjects | filter:$select.search">
						<div ng-bind-html="trustAsHtml((subject.name | highlight: $select.search))"></div>
					</ui-select-choices>
				</ui-select>
				<br>
				<label>Recipient</label>
				<ui-select ng-model="clarification.recipient">
					<ui-select-match placeholder="Select the recipient of the clarification..">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="recipient in recipients | filter:$select.search">
						<div ng-bind-html="trustAsHtml((recipient.name | highlight: $select.search))"></div>
					</ui-select-choices>
				</ui-select>
			</div>

			<div class="form-group">
				<label>Message</label>
				<textarea rows="10" class="form-control" ng-model="clarification.question"></textarea>
			</div>
			<div class="form-group">
				<button class="btn btn-success" type="submit">Send</button>
			</div>
		</form>
	</div>
	<div class="col-md-offset-4 col-md-2">
		<button class="btn btn-warning" ui-sref="jury.clarifications"><i class="fa fa-times"></i> Close</button>
	</div>
</div>
