<ul class="nav nav-pills">
	<li ui-sref-active="active"><a ui-sref="jury.home">Home</a></li>
	<li ui-sref-active="active"><a ui-sref="jury.team">As a team</a></li>
	<li ui-sref-active="active"><a ui-sref="jury.clarifications">Clarifications</a></li>
	<li ui-sref-active="active"><a ui-sref="jury.tasks">Tasks</a></li>
	<li ui-sref-active="active"><a ui-sref="jury.runs">Runs <span class="badge" ng-show="runs">{{ runs }}</span></a></li>
	<li ui-sref-active="active"><a ui-sref="jury.contests">Contests</a></li>
</ul>
<br>
<div class="container">
	<div ncy-breadcrumb></div>
	<div ui-view></div>
</div>