<div class="pull-left col-md-6">
	<ui-select ng-model="contest.contest.id">
		<ui-select-match placeholder="Select one contest to filter tasks..">{{$select.selected.name}}</ui-select-match>
		<ui-select-choices repeat="contest.id as contest in contests | filter:$select.search">
			<div ng-bind-html="trustAsHtml((contest.name | highlight : $select.search))"></div>
		</ui-select-choices>
	</ui-select>
</div>
<div class="pull-right">
	<button class="btn btn-success">
		<i class="fa fa-plus" ui-sref="jury.tasks.add"></i> Add task
	</button>
</div>
<div class="clearfix"></div>
<br>
<div class="panel panel-primary">
	<div class="panel-heading">
		<strong>Task</strong>
		<small> the headache of your contestants</small>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>#</th>
				<th>Contest</th>
				<th>Name</th>
				<th>Runs</th>
				<th>Subtasks</th>
				<th class="col-md-2">Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="task in tasks | filter : contest">
				<td>{{ task.id }}</td>
				<td>{{ task.contest.name }}</td>
				<td>{{ task.name }}</td>
				<td>{{ task.runs.length }}</td>
				<td>{{ task.subtasks.length }}</td>
				<td>
					<button class="btn btn-info btn-xs" ui-sref="jury.task({ id: task.id })"><i class="fa fa-pencil"></i></button>
					<button class="btn btn-danger btn-xs" ng-click="delete($index)"><i class="fa fa-trash"></i></button>
					<button class="btn btn-warning btn-xs" ng-click="rejudge($index)" tooltip="Rejudge all runs for this task">
						<i class="fa fa-refresh"></i> Rejudge
					</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>