<h1>Run {{ run.id }}</h1>
<div class="row">
	<div class="col-md-2"><i class="fa fa-book"></i> Task: {{ task.name }}</div>
	<div class="col-md-2"><i class="fa fa-clock-o"></i> Time: {{ run.time }}</div>
	<div class="col-md-2"><i class="fa fa-users"></i> Team: {{ run.owner.name }}</div>
	<div class="col-md-2"><i class="fa fa-file-code-o"></i> Language: {{ run.language.name }}</div>
	<div class="col-md-4"><i class="fa fa-lightbulb-o"></i> Overall Result: <strong><span ng-class="result == 'accepted' ? 'text-success' : 'text-danger'">{{ result }}</span></strong></div>
</div><br>
<div class="row">
	<button class="btn btn-default" ng-click="showSource = !showSource">
		Source Code
	</button>
	<button class="btn btn-default" ng-click="showCMessage = !showCMessage">
		Show Compiler Output
	</button>
	<button class="btn btn-warning pull-right" ng-hide="grade.status === 'verified'" ng-click="ignoreSubmission()">Ignore Submission</button>
	<div ng-init="showSource = false" collapse="!showSource">
		<pre nag-prism source="{{ code }}" class="language-{{ run.language.syntaxHighlighting }} line-numbers"></pre>
	</div>

	<div ng-init="showCMessage = false" collapse="!showCMessage">
		<pre nag-prism source="{{ grade.compileMessage }}" class="language-clike"></pre>
	</div>
	
</div>
<br>
<div class="row">
	<div class="col-md-12">
		<accordion close-others="false">
			<accordion-group ng-repeat="subtask in subtasks" heading="Subtask {{ $index+1 }}">
				<div class="row" align="center">
					<h3>Auto Judge Response: <strong><span ng-class="subtask.result == 'accepted' ? 'text-success' : 'text-danger'">{{ subtask.result }}</span></strong></h3>
					<div class="row" ng-hide="grade.status === 'verified'">
						<div class="col-md-4 col-md-offset-2" align="right">
							Veredict
						</div>
						<div class="col-md-4">
							<select class="form-control" ng-model="veredict[subtask.id].veredict">
								<option value="compiler-error">Compiler Error</option>
								<option value="memory-limit">Memory Limit</option>
								<option value="output-limit">Output Limit</option>
								<option value="run-error">Run Error</option>
								<option value="time-limit">Time Limit Exceeded</option>
								<option value="wrong-answer">Wrong Answer</option>
								<option value="presentation-error">Presentation Error</option>
								<option value="no-output">No Output</option>
								<option value="accepted">Accepted</option>
							</select>
						</div>
					</div><br>
				</div>
				<table class="table table-bordered" ng-hide="grade.result === 'compiler-error'">
					<thead>
						<tr>
							<th>Testcase #</th>
							<th>Result</th>
							<th>Detail</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat-start="testcase in subtask.testcases">
							<td>{{ $index+1 }}</td>
							<td><span ng-class="testcase.testcasegrade.result == 'accepted' ? 'text-success' : 'text-danger'">{{ testcase.testcasegrade.result }}</td>
							<td><button ng-show="testcase.testcasegrade.result =='wrong-answer' || testcase.testcasegrade.result =='presentation-error'" class="btn btn-xs btn-primary" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-search"></i></button><p ng-hide="testcase.testcasegrade.result !=='accepted'">{{testcase.diff[0].text}}</p></td>
						</tr>
						<tr ng-repeat-end ng-init="isCollapsed=true" collapse="isCollapsed">
							<td colspan="3">
								<div class="col-md-6">
									<div class="row text-center">
										<strong>Jury Output</strong>
									</div>
									<div class="row wrap" ng-repeat="line in testcase.diff | filter:redFilter">
										<span class="col-md-1 text-muted">{{$index + 1}}</span>
										<span ng-class="{'bg-danger' : line.color=='red', 'text-danger' : line.color=='red'}" class="col-md-9 col-md-offset-1">{{line.text}}</span>
									</div>
								</div>
								<div class="col-md-6">
									<div class="row text-center">
										<strong>Team Output</strong>
									</div>
									<div class="row wrap" ng-repeat="line in testcase.diff | filter:greenFilter">
										<span class="col-md-1 text-muted">{{$index + 1}}</span>
										<span ng-class="{'bg-danger': line.color=='green', 'text-danger' : line.color=='green'}" class="col-md-9 col-md-offset-1">{{line.text}}</span>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
				</table>			
			</accordion-group>
		</accordion>
		<button class="btn btn-block btn-lg btn-danger" ng-click="makeVeredict()" ng-hide="grade.status === 'verified'"><i class="fa fa-gavel"></i> Make Veredict</button>
	</div>
</div>