<h4>{{ contest.name }}</h4>

<div class="row">
	<div class="col-md-10">

		<div class="form-group">
			<label for="startTime">Start Time</label>
			<input type="text" class="form-control" id="startTime" ng-model="contest.startTime">
			<p class="help-block">Contest beginning date and time.</p>
		</div>

		<div class="form-group">
			<label for="freezeTime">Scoreboard Freeze Time</label>
			<input type="text" class="form-control" id="freezeTime" ng-model="contest.freezeTime">
			<p class="help-block">If different from Unfreeze Time, the scoreboard will not show any updates after this moment.</p>
		</div>
		
		<div class="form-group">
			<label for="endTime">End time</label>
			<input type="text" class="form-control" id="endTime" ng-model="contest.endTime">
			<p class="help-block">Contest ending date and time.</p>
		</div>

		<div class="form-group">
			<label for="unfreezeTime">Scoreboard Unfreeze Time</label>
			<input type="text" class="form-control" id="unfreezeTime" ng-model="contest.unfreezeTime">
			<p class="help-block">Time to release the scoreboard</p>
		</div>
		
		<div class="form-group">
			<label for="penalty">Penalty Time</label>
			<input type="text" class="form-control" id="penalty" ng-model="contest.penalty">
			<p class="help-block">Time added to the team total time with every wrong submission.</p>
		</div>
		
		<div class="form-group">
			<label for="tasks">Number of tasks</label>
			<input type="number" class="form-control" id="tasks" ng-model="contest.tasks.length" max="100" min="0">
			<p class="help-block">Number of tasks or problems of the contest.</p>
		</div>
		
		<div class="pull-right">
			<button class="btn btn-success" ng-click="next('contest', 0)">Next <i class="fa fa-arrow-right"></i></button>
		</div>
		

	</div>
</div>


	