<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">Print Jobs</div>
			<table class="table table-bordered">
				<thead>
					<th class="text-center">#</th>
					<th class="text-center">Team</th>
					<th class="text-center">Source</th>
				</thead>
				<tbody>
					<tr ng-repeat="print in prints | orderBy: '-id'">
						<td class="col-md-2 text-center">{{ print.id }}</td>
						<td class="col-md-8 text-center">{{ print.team.name }}</td>
						<td class="col-md-2 text-center">
							<a ui-sref="staff.print({ id: print.id })" class="btn btn-success"><span><i class="fa fa-print"></i> View</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>