<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">Sos calls</div>
			<table class="table table-bordered">
				<thead>
					<th class="text-center">#</th>
					<th class="text-center">Team</th>
					<th class="text-center">Actions</th>
				</thead>
				<tbody>
					<tr ng-class="{ 'staff-done': sos.done }" ng-repeat="sos in soss | orderBy: ['done', '-id'] track by sos.id">
						<td class="col-md-2 text-center">{{ sos.id }}</td>
						<td class="col-md-8 text-center">{{ sos.team.name }}</td>
						<td><button ng-hide="sos.done" class="btn btn-success" ng-click="done(sos)"><i class="fa fa-check"></i> Done</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>