<ul class="nav nav-pills">
	<li ui-sref-active="active"><a ui-sref="team.home">Home</a></li>
	<li ui-sref-active="active"><a ui-sref="team.newRun">Submit</a></li>
	<li ui-sref-active="active"><a ui-sref="team.clarifications">Clarifications <span class="badge" ng-show="clarifications">{{ clarifications }}</span></a></li>
	<li ui-sref-active="active"><a ui-sref="team.runs">Runs <span class="badge" ng-show="runs">{{ runs }}</span></a></li>
	<li ui-sref-active="active"><a ui-sref="team.tools">Tools</a></li>
</ul>
<br>
<div class="container">
	<div ncy-breadcrumb></div>
	<div ui-view></div>
</div>