<div class="col-md-6 col-md-offset-3 jumbotron" ng-show="tasks.length">
	<h2>Submitting a new solution</h2>
	<br>
	<form class="form-horizontal" ng-submit="submit()">
		<alert ng-repeat="error in errors" type="danger">{{ error }}</alert>
		<div class="form-group">
			<label class="col-sm-2">Source</label>
			<div class="col-sm-10">
				<input type="file" ng-file-select ng-model="source" multiple="false" ng-multiple="false" ng-file-change="autoSelect($files)"/>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Task</label>
			<div class="col-sm-10">
				<ui-select ng-model="submit.task">
					<ui-select-match placeholder="Choose a task">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="task.id as task in tasks | filter: $select.search">
						<div>({{task.code}}) {{ task.name }}</div>
					</ui-select-choices>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2">Language</label>
			<div class="col-sm-10">
				<ui-select ng-model="submit.language">
					<ui-select-match placeholder="Choose a language">{{$select.selected.name}}</ui-select-match>
					<ui-select-choices repeat="language.id as language in languages | filter: $select.search">
						<div>{{ language.name }}</div>
					</ui-select-choices>
			</div>
		</div>
		<button class="btn btn-success">Submit</button>
	</form>
</div>

<alert type="warning" ng-hide="tasks.length">
	You have no available tasks to submit solutions
</alert>