<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="mooseJs" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="mooseJs" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="mooseJs" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="mooseJs" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>MooseJS</title>
  <!--STYLES-->   
  <!--STYLES END-->
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="navbar navbar-inverse" role="navigation" ng-controller="navController">
         <div class="container-fluid">
           <div class="navbar-header top-logo">
             <a href="#"><img src="/images/logo.png" alt=""></a>
           </div>
           
           <ul class="nav navbar-nav navbar-right">

            <li ng-show="user.role === 'team'" class="navbar-text">
                <span class="text-success" ng-show="timer.status === 'running'">
                  <strong>
                    Time remaining
                  </strong>
                </span>
                <span ng-show="timer.status === 'not running'">
                  Next contest in
                </span>
                <span class="text-warning" ng-show="timer.status === 'waiting'">
                  <strong>
                    Results coming in
                  </strong>
                </span>
                <timer ng-show="timer" end-time="{{ timer.endTime }}"></timer>
                <strong ng-hide="timer">No upcoming contests</strong>
            </li>

            <li class="dropdown" dropdown ng-hide="user.role === 'team'">
              <a href="#" class="dropdown-toggle" dropdown-toggle>Contests <span class="caret"></span></a>

              <ul class="dropdown-menu timers-list" dropdown-menu>
                  <li ng-repeat="timer in timers" ng-show="timers.length > 0">
                      <a>
                      <strong>{{ timer.name }}</strong> <br>
                      <span class="text-success" ng-show="timer.status === 'running'">
                        <strong>
                          Time remaining
                        </strong>
                      </span>
                      <span ng-show="timer.status === 'not running'">
                        Starts in
                      </span>
                      <span class="text-warning" ng-show="timer.status === 'waiting'">
                        <strong>
                          Results coming in
                        </strong>
                      </span>
                      <timer end-time="{{ timer.endTime }}"></timer>
                      </a>
                  </li>
                  <li ng-hide="timers.length > 0">
                    <a><strong>No upcoming contests</strong></a>
                  </li>
              </ul>
            </li>

             <li class="dropdown" dropdown ng-show="isLogged">
               <a href="#" class="dropdown-toggle" dropdown-toggle  >Welcome, {{ user.username }} <span class="caret"></span></a>
                
                <ul class="dropdown-menu" dropdown-menu>
                  <li><a ng-click="changePassword()">Change password</a></li>
                  <li role="presentation" class="divider"></li>
                  <li><a href ng-click="logout()"><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
              </li>

              <li ng-hide="isLogged"><a ui-sref="public.login"><i class="fa fa-power-off"></i> Login</a></li>

              <!-- <li><span class="navbar-text white-text">Time</span></li> -->
           </ul>
          </div>

       </nav>
    </header>

    <div ui-view>
    </div>
    <div class="push"></div>
  </div>

    
    <footer>
        <div align="center">MooseJS 2015</div>
    </footer>

  <!--SCRIPTS-->
  <!--SCRIPTS END-->
</body>
</html>
