.navbar {border-radius: 0;}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.white-text {
    color:white;
}
.form-signin > button {
    width: 100%;
}

.top-logo {
    padding-left: 10px;
}


.nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.nav-pills {
    text-align: center;
}

.fullPoints{
	background-color: #72D776
}

.somePoints{
	background-color:  #BFEC78
}

.contest-tree {
  margin-left: 5px;
  list-style: none;
}

.contest-tree > li:before{
  font-family: "FontAwesome";
  content: '\f105';
}

.fa-8x {
  font-size: 8em;
}