<div class="container">
	<div class="row">
		<h3>Changing password</h3>
		<div class="col-md-8 col-md-offset-2">
			
			<form name="passwordForm" class="form form-horizontal" ng-submit="changePassword()" novalidate>
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">New password</label>
					<div class="col-md-9">
						<input type="password" id="password" class="form-control" ng-model="user.password">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-md-3 control-label">Repeat new password</label>
					<div class="col-md-9">
						<input type="password" id="password" class="form-control" ng-model="again">
					</div>
				</div>
				<div class="text-right">
					<button ng-disabled="!user.password || user.password !== again" class="btn btn-success" type="submit">Change password</button>
				</div>
			</form>
		</div>
	</div>
</div>	