<div class="panel panel-primary">
<div class="panel-heading">Scoreboard</div>
	<table class="table table-hover table-bordered">
		<thead>
			<th>Team</th>
			<th ng-repeat="task in tasks | orderObjectBy:'name'">{{ task.name }}</th>
			<th>Total</th>
		</thead>
		<tbody>
			<tr ng-repeat="team in scoreboardRows | orderObjectBy:'total':true">
				<td>{{ team.name }}</td>
				<td ng-repeat="task in team.tasks | orderObjectBy:'name'">{{task.points}}</td>
				<td>{{ team.total }}</td>
			</tr>
		</tbody>
	</table>
</div>