<div class="panel panel-primary">
<div class="panel-heading">Scoreboard</div>
	<table class="table table-bordered">
		<thead>
			<th class="col-md-1">Rank</th>
			<th>Team</th>
			<th ng-repeat="task in tasks | orderObjectBy:'name'">
				<a ng-href="/statements/{{ activeContest }}/{{task.name}}/{{task.name}}.pdf" ng-show="isTeam" target="_blank">{{ task.name }}</a>
				<span ng-hide="isTeam">{{ task.name }}</span> 
				<i class="fa fa-balloon" style="color:{{ task.color }}" ng-class="{ 'fa-balloon-white': task.color === '#fff'}"></i>
			</th>
			<th class="col-md-1">Total</th>
			<th class="col-md-1">Time</th>
		</thead>
		<tbody>
			<tr ng-repeat="team in scoreboardRows | orderObjectBy:'total':true:true">
				<td>{{ $index + 1}}</td>
				<td>{{ team.name }}</td>
				<td ng-repeat="task in team.tasks | orderObjectBy:'name'" ng-class="task.points === tasks[task.name].fullPoints ? 'fullPoints' : (task.points > 0 ? 'somePoints' : '')"><span tooltip-html-unsafe="<h5>Time: <strong>{{ task.time }}</strong> Runs: <strong>{{ task.runs }}</strong></h5>">{{task.points}} / {{tasks[task.name].fullPoints}}</span></td>
				<td>{{ team.total }}</td>
				<td><span tooltip-html-unsafe="<h5>Time: <strong>{{team.totalTime}}</strong> Penalty: <strong>{{team.penalty}}</strong></h5>">{{ team.totalTime + team.penalty}}</span></td>
			</tr>
		</tbody>
	</table>
</div>