<div class="pull-right">
	<button class="btn btn-success" ui-sref="admin.users.register"><i class="fa fa-plus"></i> Add</button>
</div>	
<div class="clearfix"></div>
<br>
<div class="panel panel-primary">
	<div class="panel-heading">
		<strong>Users</strong>
		<small>all your registered users over here</small>
	</div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Username</th>
				<th>Name</th>
				<th>Role</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td>{{ user.username }}</td>
				<td>{{ user.name }}</td>
				<td>{{ user.role }}</td>
				<td>
					<button class="btn btn-info btn-xs"><i class="fa fa-pencil"></i></button>
					<button class="btn btn-danger btn-xs"><i class="fa fa-trash"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>